<div class="container">
  <div class="row">
    

    <div class="col-md-4">
      <%= image_tag @user.avatar, class:"img-responsive img-rounded" %>
      
    </div>

    <div class="col-md-8">
      <h1><%= @user.name %></h1>
      <p><%= @user.email%></p>
      <%= simple_format @user.intro %>
      <% if @user.email == current_user.email %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  
</div>